body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.ju-content {
    justify-content: center;
}

.dec {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    padding: 20px;
    background: #f9f9f9;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li.active {
    /* background: green; */
    color: white;
}

.orders-container {
    flex: 1;
    padding: 20px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.item-status {
    display: flex;
    align-items: center;
}

.delivered {
    color: green;
}

.in-process {
    color: orange;
}

.order-actions button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.view-btn {
    background: white;
    border: 1px solid black;
}

.review-btn {
    background: black;
    color: white;
}

.cancel-btn {
    background: red;
    color: white;
}

#messenger-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #ffffff9f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    z-index: 999;
}

#messenger-icon img {
    width: 35px;
    height: 35px;
}

#messenger-icon:hover {
    background-color: #ffffff;
    transform: scale(1.1);
}