<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="footer_Container">
      <footer class="footer_Content">
        <div class="footer_Content-layout">
          <div class="layout_1">
            <img src="/assets/images/Logo.png" alt="" />
            <ul class="information_list">
              <li><i class="fa-solid fa-phone-volume"></i>
                (704) 555-0127</li>
              <li><i class="fa-solid fa-envelope"></i>
                krist@example.com</li>
              <li><i class="fa-solid fa-location-dot"></i>
                <span>3891 Ranchview Dr. Richardson, California 62639</span></li>
            </ul>
          </div>
          <div class="layout_2">
            <div>
              <ul>
                <h4>Information</h4>
                <li>My Account</li>
                <li>Login</li>
                <li>My Cart</li>
                <li>My Wishlist</li>
                <li>Checkout</li>
              </ul>
            </div>
            <div>
              <ul>
                <h4>Service</h4>
                <li>About Us</li>
                <li>Carrers</li>
                <li>Delivery Information</li>
                <li>Privacy Policy</li>
                <li>Terms & Conditions</li>
              </ul>
            </div>
          </div>
          <div class="layout_3">
            <h4>Subscribe</h4>
            <p>Enter your email below to be the first to know about new
              collections and product launches</p>
            <div class="email_input">
              <i class="fa-solid fa-envelope"></i>
              <input type="email" placeholder="Your Email" />
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
        <div class="footer_Content-end">
          <div class="payment_method">
            <img src="/assets/images/payment/Visa.png" alt="" />
            <img src="/assets/images/payment/Mastercard.png" alt="" />
            <img src="/assets/images/payment/GooglePay.png" alt="" />
            <img src="/assets/images/payment/Amex.png" alt="" />
            <img src="/assets/images/payment/PayPal.png" alt="" />
          </div>
          <p>&copy; 2023 Krist All Rights are reserved</p>
          <div class="social_media">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>