<aside class="sidebar">
  <div class="flex row" style="gap :10px ; align-items: center; ">
    <img
      src="/assets/images/avt.png"
      style="border-radius: 50%; width: 60px; height: 60px;"
    />
    <div class="flex col" style="align-items: center;">
      <h7 style=" margin-bottom : 5px">Hello</h7>
      <span style="font-weight: bold; font-size:20px">JSON</span>
    </div>
  </div>
  <ul>
    <li><a href="#">Personal Information</a></li>
    <li class="active"><a href="#">My Orders</a></li>
    <li><a href="#">My Wishlists</a></li>
    <li><a href="#">Manage Addresses</a></li>
    <li><a href="#">Saved Cards</a></li>
    <li><a href="#">Notifications</a></li>
    <li><a href="#">Settings</a></li>
  </ul>
</aside>