<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1> Dosssc</h1>
    <p>home page</p>
    <img src="http://localhost:8081/images/upload/e35f62a8-162c-407b-8eb0-5a65d28632ef.png" alt="Product Image">

  </body>
</html>