<div class="container my-4 d-flex" style="max-width: 1200px; margin: auto;">
    <aside class="mx-5">
      {{> sidebarAdminManager}}
    </aside>
    <main class="flex-grow-1 p-3">
      {{{body}}}
    </main>
  </div>
