 {{> header}}
 <div class="container my-4 d-flex" style="max-width: 1200px; margin: auto;">
    <aside class="sidebar p-3 border rounded shadow-sm me-4" style="width: 250px; background-color: #f4f4f4;">
      {{> sidebar}}
    </aside>
    <main class="flex-grow-1 p-3">
      {{{body}}}
    </main>   
  </div>
  {{> footer}}
